<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Spécialités</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" [routerLink]="'/dashboard'">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" [routerLink]="'/dashboard/parametrage/medecin'">Paramétrage</a>
        </li>
        <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">
          Spécialités
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row d-flex align-items-center justify-content-between mb-3 mt-2">
  <div class="col-md-6 col-sm-12">
    <span class="h4 text-primary">Liste des specialite (Total : {{specialiteList.length}})</span>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row d-flex">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2 align-self-end">
        <div class="form-group">
          <label for="search"></label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input type="text" id="search" #searchInput name="search" placeholder="Rechercher un specialite..." (input)="filterData(searchInput)" class="form-control me-2" >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2 align-self-end">
        <button class="btn btn-outline-primary" (click)="open(content)"><i class="fas fa-plus"></i>
          Ajouter un specialite
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row g-4 mb-5">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" *ngFor="let specialite of specialiteList">
    <div class="card h-100 text-center border-0 shadow">
      <i class="fas fa-heart icon-specialite" style="color: {{randomColorPick()}}"></i>
      <div class="card-body">
        <h5 class="card-title">{{specialite.libelle}}</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <button class="btn btn-primary me-2 rounded-pill" (click)="open(content, specialite)"><i
          class="fas fa-edit"></i>
        </button>
        <button class="btn btn-danger rounded-pill" (click)="open(content, specialite)"><i class="fas fa-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Form add and update via modal -->
<ng-template #content let-modal>
  <form #addSpecialiteForm="ngForm" (ngSubmit)="save(addSpecialiteForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{txtModalHeader}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="form-group mb-3 ">
        <label for="nom" class="form-label">Nom</label>
        <div class="input-group">
          <input type="text" class="form-control" id="nom"
                 placeholder="Entrez le nom de la specialite" name="nom"
                 required [(ngModel)]="specialiteForm.libelle" #nom="ngModel">
        </div>
        <div [hidden]="nom.valid || nom.pristine" class="alert alert-danger">
          Ce champ est obligatoire
        </div>

      </div>

      <div class="form-group mb-3">
        <label for="description" class="form-label">Description</label>
        <div class="input-group">
          <textarea class="form-control" id="description"
                 placeholder="Entrez la description de la spécialité" name="description"
                    rows="5"
                    [(ngModel)]="specialiteForm.description" #description="ngModel"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!addSpecialiteForm.form.valid && !loadingBtn"
              class="col-12 btn btn-success rounded-2">
        <i class="fa" [ngClass]="{'fa-spin fa-spinner': loadingBtn, 'fa-check': !loadingBtn}"></i>
        {{textButton}}
      </button>
    </div>
  </form>
</ng-template>
