<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Medecins</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" [routerLink]="'/dashboard'">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" [routerLink]="'/dashboard/parametrage/medecin'">Paramétrage</a>
        </li>
        <li class="breadcrumb-item breadcrumb-item-active" aria-current="page">
          Medecins
        </li>
      </ol>
    </nav>
  </div>
</div>
