/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/dist/css/bootstrap-reboot.min.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/brands.min.css';
@import '@fortawesome/fontawesome-free/css/regular.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

:root{
  --primary-color: #086BEF;
  --login-text-color:#BBC0B6
}

body {
  font-family: 'Roboto Light', serif;
}

